<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Secret Santa</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav_icon.png') }}" type="image/x-icon">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

        <!-- START NAV -->
        <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                                <img src="{{ url_for('static', filename='images/bulma.png') }}" alt="Logo">
                            </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="/" class="navbar-item">
                                Home
                            </a>
                            <a href="/create" class="navbar-item">
                                Erstellen
                            </a>
                            <!-- 
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    Login
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item">
                                            Dashboard
                                        </a>
                                    <a class="navbar-item">
                                            Profile
                                        </a>
                                    <a class="navbar-item">
                                            Settings
                                        </a>
                                    <hr class="navbar-divider">
                                    <div class="navbar-item">
                                        Logout
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END NAV -->

     <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="box">
                    <div class="media">
                        <figure class="media-left">
                            <p class="image is-128x128"><img src="{{game.imageurl}}" alt="Image" /></p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1>{{game.name}}</h1>
                                {% if participants %}
                                    Aktuell auf dieser Liste registriert sind:
                                    <br />
                                    <ul>
                                        {% for p in participants %}
                                            <li>{{p.name}} &lt;{{p.mail}}&gt;</li>
                                        {% endfor %}
                                    </ul>     
                                {% else %}
                                    Es hat sich noch niemand eingetragen...
                                    <br />
                                    <br />
                                {% endif %}
                                <br />
                                {% if game.triggered %}
                                    Es wurde bereits ausgelost.
                                    <br />
                                    <br />
                                {% endif %}
                                <form method="delete">
                                    {% if not game.triggered %}
                                        <a href="/register?g={{game.uuid}}" class="button is-info is-medium">Teilnehmen</a>
                                        {% if participants %}
                                            <a href="/trigger?g={{game.uuid}}" class="button is-warning is-medium">Auslosen</a>
                                        {% else %}
                                            <a disabled class="button is-warning is-medium">Auslosen</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="/trigger?g={{game.uuid}}" class="button is-warning is-medium">Mails senden</a>
                                        <a disabled class="button is-info is-medium">Teilnehmen</a>
                                    {% endif %}
                                    <input type="hidden" value="{{game.uuid}}" name="uuid" />
                                    <!--<input type="submit" class="button is-danger is-medium" value="L&ouml;schen" />-->
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>   

    <script src="{{ url_for('static', filename='js/bulma.js') }}"></script>


</body>

</html>
